 <div id="modalChart" class="modal blue-grey darken-1">
  <div class="modal-content white-text">
    <div id="chartProgress" class="progress">
        <div class="indeterminate"></div>
    </div>    
    <table id="chart" class="chart bordered centered">
      <thead>
        <tr>
            <th data-field="id">Equipe</th>
            <th data-field="name">Points</th>
            <th data-field="price">Progression</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div class="chartError">Erreur serveur</div>
  </div>
</div>