{{#info}}
<div class="fade in alert alert-info">
   <span class="white-text">{{.}}</span> 
</div>
{{/info}}  
{{#errors}}  
<div class="card-panel red lighten-2 z-depth-2">
   <span class="white-text">{{.}}</span> 
</div>
{{/errors}}
{{#success}}  
<div class="fade in alert alert-success">
   <span class="white-text">{{.}}</span> 
</div>
{{/success}}
{{#warning}}  
<div class="fade in alert alert-warning">
   <span class="white-text">{{.}}</span> 
</div>
{{/warning}}