
<div class="row end">
	<div class="col s12 m12">
	  <div class="card blue-grey darken-1">
	    <div class="card-content white-text">
	      <span class="card-title">Bravo !!!!</span>
	      <p>Vos efforts cardios et neuros vous permettent d'obtenir la particule de:</p>
	      <h5 class="grade"><i class="material-icons">star</i> Petit Poney <i class="material-icons">star</i></h5>
	      <div class="center-align">
	      	<img class="responsive-img" src="/img/poney.jpg">
	      </div>	
				<p>Il vous faudra cepandant revenir la prochaine décennie pour tenter le grade de chevalier.</p>
				<p>Avant de revenir chez nos hôtes en baronnie pour abuser des plaisirs de la bonne chère, du bon vin et autres plaisirs charnels (ce soir c'est l'orgie en baronnie), it's selfie time!!!!</p>
				<p>Souriez les poneys et surtout n'hésitez pas pas à mettre votre selfie d'équipe sur le mur de l'événement.</p>
	    </div>
	  </div>
	</div>
</div>
            