
<div class="row">
	<div class="col s12 m12">
	  <div class="card blue-grey darken-1">
	    <div class="card-content white-text">
	      <span class="card-title">Mes Très chers amis,</span>
	      <p>Comme vous l'avez noté, la baronne Pauline et Marius de son nom Baron sont d'une classe supérieure à la votre.</p>

				<p>C'est pourquoi, il est important que vous réalisiez le grand privilège, l'honneur qui vous a été accordé de pouvoir assister à l'évènement de l'année. Il se dit dans toute la baronnie que la noblesse de  robe a suivi de très près la dernière fashion week de la capitale pour être ce soir sur 31.</p>

				<p>Bien que vos hôtes soient des personnes larges d'esprit et ouverts à se mélanger à des classes inférieures, il ne faudrait pas dépasser les bornes des limites ou tenter de faire d'un moustique un étalon. On s'entend!</p>

				<p>Attention toutefois aux raccourcis de l'esprit. Rappelez-vous que ce n'est pas l'habit qui fait le moine. La classe au dessus ne s'atteint pas à coup de ciseaux ou de pinceaux. C'est pourquoi messieurs rien ne sert de courir chez le barbier, utilisez plutôt vos jambes pour partir à la quête de la particule. Attention, mesdames vous n'êtes en aucun cas sur la touche. Cette quête ne se gagne pas sur le seul critère de la sueur, des neurones sont nécessaires c'est pourquoi vous avez toutes votre place dans cette aventure.</p>
	    </div>
	    <div class="card-action center-align">
	     	<a href="/qr" class="waves-effect waves-light btn-large">SUITE</a>
	    </div>
	  </div>
	</div>
</div>
            