
<div class="row">

	<div class="col s12 m12">
	  <div class="card blue-grey darken-1">
	    <div class="card-content white-text">
	      <p>Allez dans la cour et scannez le code QR pour commencer l'aventure</p>
        <br>
        <div class="row center-align">
          <img class="responsive-img" src="/img/qr2.jpg">
        </div>
	    </div>
	  </div>

    <br>
    
    {{> code}}
  
	</div>
</div>
            